/* Page Header with no Featured Image */
canvas#placeholder-0 {
    display: none;
}

.aspectRatioPlaceholder{
    .overlay-text{
        padding-left:$edgeclamp;
        padding-right:$edgeclamp;
        padding-top:$space * .5px;
    }
}
