footer.site-footer{
    display:flex;
    background-color:$dark-neutral;
    padding-left:$edgeclamp;
    padding-right:$edgeclamp;
    padding-top:$space * .75px;
    padding-bottom:$space * 1px;
    justify-content:space-between;

    div.prefooter{
        padding-left:$edgeclamp;
        padding-right:$edgeclamp;
    }
    .custom-logo-link{
        height: 120px;
        position: relative;
        display: flex;
        img{
            max-width:100%;
            max-height:100%;
        }
    }
    .column{
        flex:1;
        padding:1%;
        ul.menu-wrapper{
            list-style:none;        
        }
    }
    
}
/* Footer Bottom */
.row.footer-menu-bottom{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color:#111;
    ul.footerbottom{
        list-style:none;
        display:inline-flex;
        gap:$gap * .5px;
    }
    ul.menu-wrapper{
        list-style:none;
        display:inline-flex;
        gap:$gap * .5px;        
    }
}

@media screen and (max-width:991px){
    footer.site-footer{

    }
}