
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    width:100%;
    width:100%;
    position:relative;
    overflow-y:scroll;
    
}
/* stick footer on the bottom */
#page{
    display:flex;
    flex-direction:column;
    width:100%;
    max-width:100%;
    overflow-x:hidden;
    flex-grow:1;
}
footer.site-footer{
    display:flex;
    background-color:$primary;

}
/* index layouts */
.postwrap{
    padding-left:$edgeclamp;
    padding-right:$edgeclamp;
    &.alignwide{
        padding-left:0;
        padding-right:0;
    }
    .layout{
        width:100%;
        position:relative;
        display:flex;
        &.reverse{
            flex-direction:row-reverse;
        }
        .left{
            display:flex;
            flex-direction:column;
            width:$indexleft;
        }
        .right{
            display:flex;
            flex-direction:column;
            width:$indexright;
        }
    }
}
@media screen and (max-width:991px){
    .postwrap{
        .layout{
            flex-wrap:wrap;
            .left{width:100%;}
            .right{width:100%;}
        }
    }
}