@import "functions";





/*<! START COLORS !>*/

$primary:#242e42;
$accent:#ff6700;
$light:#ffffff;
$light-neutral:#d1d1d1;
$light-half:#bbbbbb;
$dark:#242e42;
$dark-neutral:#7b8fb7;
$dark-half:#bbbbbb;
$good:#97dc40;
$bad:#ff7b7b;
$warning:#feee62;

/*<! END COLORS !>*/













/*<! START TYPOGRAPHY !>*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
H1 {
font-family:Permanent Marker;
font-weight:400;
text-transform:uppercase;
font-size:clamp(36px, 3.33vw, 48px);
letter-spacing:0rem;
line-height:clamp(52px, 4.86vw, 69.9375px);
}
H2 {
font-family:Permanent Marker;
font-weight:400;
font-size:clamp(27px, 2.5vw, 36px);
letter-spacing:0.12rem;
line-height:clamp(39px, 3.64vw, 52.453125px);
}
H3 {
font-family:Permanent Marker;
font-weight:400;
font-size:clamp(23px, 2.15vw, 31px);
letter-spacing:0.15rem;
line-height:clamp(34px, 3.14vw, 45.16796875px);
}
H4 {
font-family:Permanent Marker;
font-weight:400;
font-size:clamp(21px, 1.94vw, 28px);
letter-spacing:0.15rem;
line-height:clamp(31px, 2.83vw, 40.796875px);
}
H5 {
font-family:Permanent Marker;
font-weight:400;
font-size:clamp(18px, 1.67vw, 24px);
letter-spacing:0.15rem;
line-height:clamp(26px, 2.43vw, 34.96875px);
}
H6 {
font-family:Permanent Marker;
font-weight:400;
font-size:clamp(14px, 1.25vw, 18px);
letter-spacing:0.13rem;
line-height:clamp(20px, 1.82vw, 26.2265625px);
}
body {
font-family:Merriweather Sans;
font-weight:400;
font-size:clamp(16px, 1.11vw, 24px);
letter-spacing:0rem;
line-height:clamp(20.109375px, 1.4vw, 30.16px);
}
@media screen and (max-width:991px) {
H1 {
font-family:Permanent Marker;
font-weight:400;
font-size:12px;
letter-spacing:0.12rem;
line-height:17.484375px;
}
H2 {
font-family:Permanent Marker;
font-weight:400;
font-size:12px;
letter-spacing:0.12rem;
line-height:17.484375px;
}
H3 {
font-family:Permanent Marker;
font-weight:400;
font-size:12px;
letter-spacing:0.12rem;
line-height:17.484375px;
}
H4 {
font-family:Permanent Marker;
font-weight:400;
font-size:12px;
letter-spacing:0.12rem;
line-height:17.484375px;
}
H5 {
font-family:Permanent Marker;
font-weight:400;
font-size:12px;
letter-spacing:0.12rem;
line-height:17.484375px;
}
H6 {
font-family:Permanent Marker;
font-weight:400;
font-size:12px;
letter-spacing:0.12rem;
line-height:17.484375px;
}
body {
font-family:Merriweather Sans;
font-weight:400;
font-size:12px;
letter-spacing:0rem;
line-height:15.083999633789px;
}
}

/*<! END TYPOGRAPHY !>*/








/*<! START LAYOUT !>*/
/* Layout */
$grid: 1440;
$gap: 25;
//$gap: 50;
$space: 50; /* Space variable is a seed for how much padding in the layout */
$edge: 146;
$mobileEdge:25;
/*<! END LAYOUT !>*/



$edgeclamp: clamp($mobileEdge * 1px, roundit( calc($edge / $grid), 2) * 100vw, $edge * 1px);
$borderradius: 4px;
$standardgap: clamp( roundit($gap * .75, 2) * 1px,roundit( calc($gap / $grid), 2) * 100vw, ($gap * 1px) );

$indexleft: 35%;
$indexright: 65%;

/* Please put custom global variables beneath this comment. 
   Styles above this line may be overwritten */
/* CUSTOM */

