@import "./functions";

/*<! START COLORS !>*/

/*         'UI' => array('good'=>'#5B8C5A', 'bad'=>'#E3655B', 'warning'=>'#F2ED6F'),
        'Primary' => '#7D8CC4',
        'Accent' => '#A0D2DB',
        'Dark' => array('color'=>'#2B363B', 'neutral'=>'#718C98', 'half'=>'#9CAFB7'),
        'Light' => array('color'=>'#FFFFFF', 'neutral'=>'#CCCCCC', 'half'=>'#D1D1D1'),
*/
$primary: #2DD3EB;
$accent: #FF4E4E;
$light: #fff;
$light-neutral: #D9D9D9;
$light-half: #969696;
$dark: #212121;
$dark-neutral:#323232;
$dark-half: #4F4F4F;
$good: #97DC40;
$bad: #FF7B7B;
$warning: #F2ED6F;


$theme: "light"; //accepts "light" & "dark"

/* UX */
$good: #fff;
$bad: #fff;
$neutral:#fff;

/*<! END COLORS !>*/
/*<! START TYPOGRAPHY !>*/
/* Typography */
$headerfancy: 'Cabin', sans-serif;
$header: 'Konnect', Konnect, sans-serif;
$body: 'Fira Sans', Fira Sans, sans-serif;

/*<! END TYPOGRAPHY !>*/

/* Layout */
$grid: 1440;
$gap: 25;
$edge: 146;

$mobileEdge:25;
$edgeclamp: clamp($mobileEdge * 1px, roundit( calc($edge / $grid), 2) * 100vw, $edge * 1px);
$borderradius: 4px;
$standardgap: clamp( roundit($gap * .75, 2) * 1px,roundit( calc($gap / $grid), 2) * 100vw, ($gap * 1px) );

$indexleft: 35%;
$indexright: 65%;

/* Please put custom global variables beneath this comment. 
   Styles above this line may be overwritten */
/* CUSTOM */

