@import '../global/variables';

/* Typography Rules */
$h1sizeclamp: clamp( roundit($h1size * .75) * 1px, roundit( calc($h1size / $grid), 2) * 100vw, $h1size * 1px);
$h1heightclamp: clamp( $h1size * 1px, roundit( calc(($h1size * 1.25)/ $grid), 2) * 100vw, roundit($h1size * 1.25px));
$h2sizeclamp: clamp( roundit($h2size * .75) * 1px, roundit( calc($h2size / $grid), 2) * 100vw, $h2size * 1px);
$h2heightclamp: clamp( $h2size * 1px, roundit( calc(($h2size * 1.25)/ $grid), 2) * 100vw, roundit($h2size * 1.25px));
$h3sizeclamp: clamp( roundit($h3size * .75) * 1px, roundit( calc($h3size / $grid), 2) * 100vw, $h3size * 1px);
$h3heightclamp: clamp( $h3size * 1px, roundit( calc(($h3size * 1.25)/ $grid), 2) * 100vw, roundit($h3size * 1.25px));
$h4sizeclamp: clamp( roundit($h4size * .75) * 1px, roundit( calc($h4size / $grid), 2) * 100vw, $h4size * 1px);
$h4heightclamp: clamp( $h4size * 1px, roundit( calc(($h3size * 1.25)/ $grid), 2) * 100vw, roundit($h4size * 1.25px));
$h5sizeclamp: clamp( roundit($h5size * .75) * 1px, roundit( calc($h5size / $grid), 2) * 100vw, $h5size * 1px);
$h5heightclamp: clamp( $h5size * 1px, roundit( calc(($h3size * 1.25)/ $grid), 2) * 100vw, roundit($h5size * 1.25px));
$h6sizeclamp: clamp( roundit($h6size * .75) * 1px, roundit( calc($h6size / $grid), 2) * 100vw, $h6size * 1px);
$h6heightclamp: clamp( $h6size * 1px, roundit( calc(($h3size * 1.25)/ $grid), 2) * 100vw, roundit($h6size * 1.25px));

h1{
   font-family:$header-family;
   font-size:$h1sizeclamp;
   line-height:$h1heightclamp;
   font-weight: 700;
   color:$dark;
}
h2{
   font-family:$header-family;
   font-size:$h1sizeclamp;
   line-height:$h1heightclamp;
   font-weight: 500;
   color:$dark;
}
h3{
   font-family:$header-family;
   font-size:$h1sizeclamp;
   line-height:$h1heightclamp;
   font-weight: 600;
   color:$dark;
}
h4{
   font-family:$header-family;
   font-size:$h1sizeclamp;
   line-height:$h1heightclamp;
   font-weight: 500;
   color:$dark;
}
h5{
   font-family:$header-family;
   font-size:$h1sizeclamp;
   line-height:$h1heightclamp;
   font-weight: 500;
   color:$dark;
}
h6{
   font-family:$header-family;
   font-size:$h6sizeclamp;
   line-height:$h6heightclamp;
   font-weight: 700;
   color:$dark;
}


h1,h2,h3,h4,h5,h6{
    a {
        text-decoration:none;
    }
}
a:has(> h1),a:has(> h2),a:has(> h3),a:has(> h4),a:has(> h5),a:has(> h6){
    text-decoration:none !important;
}