.rbt-card-section-card {
    display:flex;
    flex-direction:column;
    .rbt-card-image{
        display:flex;
        align-items:center;
        justify-content:center;
        padding:3%;
        width: 100%;
        height: 100%;
        .imgwrap{
            width:250px;
            height: 250px;
            background-repeat: no-repeat;
            &.active{
                background-color:$primary;
                border-radius:50%;
            }
        }
        img{
            max-width:100%;
        }
    }
    .rbt-title{
        text-align:center;
    }
}

@media screen and (max-width:991px){
    .wp-block-rbt-card-section-card {

    }
}