.rbt-featured-trips {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;
    // background-image: linear-gradient(45deg, black, transparent);
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
    .underlay{
        width:100%;
        height:100%;
        position:absolute;
        display:block;
        z-index:0;
        background-repeat:no-repeat;
        background-size:cover;
    }
    .filters{
        width:100%;
        height:100%;
        position:absolute;
        display:block;
        z-index:1;
    }
    .layout{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        position:relative;
        z-index:1;
        &.reversed{
            flex-direction:row-reverse;
        }
        .leftcol{
            width: calc(60% - 15px);
            .featured-trips{
                width: 100%;
                margin: 20px auto;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                padding: 5%;
                .trip-card{
                    background-image: linear-gradient(-46deg, #222, rgba(255,255,255,.1) 20%, transparent 40%);
                    width: calc(50% - 10px);
                    padding: 0;
                    border: 1px solid #222;
                    border-radius: 15px;
                    box-shadow: 4px 2px 6px black;
                    overflow: hidden;
                    .trip-img{
                        width: 100%;
                        aspect-ratio: 2/1;
                        .trip-img-tag{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .trip-details{
                        padding:5%;
                        margin-bottom: 40px;
                        &.rbt-cta{
  
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            
                        }
                    }
                }
            }
        }
        .rightcol{
            width: calc(40% - 15px);
            padding:30px;
        }
        .components-button.rbt-editor-remove{
            display: flex;
            background-color: white;
            margin: 3%;
            border-radius: 500px;
        }
    }
}

@media screen and (max-width:991px){
    .rbt-featured-trips {

    }
}